*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: hsl(0, 0%, 100%);
    --stone-100: hsl(30, 54%, 90%); /* Fondo página */
    --stone-150: hsl(30, 18%, 87%); /* Líneas divisorias */
    --stone-600: hsl(30, 10%, 34%); /* Texto párrafos */
    --stone-900: hsl(24, 5%, 18%);  /* Títulos principales */
    --brown-800: hsl(14, 45%, 36%); /* Títulos secciones */
    --rose-800: hsl(332, 51%, 32%); /* Bullets listas */
    --rose-50: hsl(330, 100%, 98%); /* Fondo tiempo preparación */

    /* Tipografías */
    --font-heading: 'Young Serif', serif;
    --font-body: 'Outfit', sans-serif;
}

body{
    min-height: 100vh;
    background-color: var(--stone-100);
    font-family: var(--font-body);
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

img{
    width: 100%;
}

h1{
    font-family: var(--font-heading);
    color: var(--stone-900);
    font-weight: 500;
    margin-bottom: 1rem;
}

h2{
    font-family: var(--font-heading);
    color: var(--brown-800);
    margin-bottom: 1.3rem;
}

h3{
    color: var(--rose-800);
    margin-bottom: 1rem;
}

li{
    color: var(--stone-600);
    margin-bottom: 1rem;
    padding-left: 1rem;
    
}

hr {
    border: none;
    height: 1px;
    background-color: var(--stone-150);
    margin: 0rem 1.5rem; 
}

li::marker{
    color: var(--brown-800);
    font-weight: 700;
    
}

.cooking-times li::marker{
    color: var(--rose-800);
}

p{
    color: var(--stone-600);
}

.recipe-card {
    background-color: var(--white);
}

header{
    padding: 1.5rem 1.5rem;
}

section{
    padding: 1.5rem 1.5rem;
}

.cooking-times{
    background-color: var(--rose-50);
    padding: 1.5rem;
    margin-top: 2rem;
    border-radius: 1rem;
}

ul,ol{
  padding: 0rem 1.5rem 0rem 1.5rem;
}

table{
    width: 100%; 
    border-collapse: collapse;
    margin-top: 1rem;
}

td {
    padding: 1.4rem 2rem; 
    border-bottom: 1px solid var(--stone-150); 
    color: var(--stone-600);
}


tr:last-child td {
    border-bottom: none;
}


td:last-child {
    color: var(--brown-800); 
    font-weight: 700; 
}

@media (min-width: 770px){

    body{
        padding: 2rem;
        justify-content: center;
    }

    .recipe-card{
        max-width: 46rem;
        border-radius: 1rem;
        padding: 1.5rem;
    }

    .recipe-card img{
        border-radius: 0.5rem;
    }

    header, section {
        padding: 1.5rem 0rem;
    }
    
    hr{
        margin: 0;
    }
}